html,
body,
.root {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.score {
  position: absolute;
  left: 20px;
  top: 20px;
}

.bomb-wrap {
  width: calc(100% - 70px);
  height: calc(100vh - 200px - 70px);
  position: relative;
}

.dustbin {
  height: 200px;
  width: 200px;
  transform-origin: bottom center;
}

.dustbin.active {
  transform: scale(1.1);
}

.dustbin-red {
  background-color: #c61924;
}
.dustbin-red.active {
  background-color: #90131b;
}

.dustbin-blue {
  background-color: #54a4f3;
}
.dustbin-blue.active {
  background-color: #3a76b1;
}

.dustbin-green {
  background-color: #2e7f2d;
}
.dustbin-green.active {
  background-color: #1c501b;
}

.bottom-wrap {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.dustbin-wrap {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
}

.bomb {
  cursor: move;
  width: 70px;
  height: 70px;
  position: absolute;
  border-radius: 70px;
}

.bomb-ttl {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #fd971e;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 30px;
}

.bomb-red {
  background-color: #c61924;
}

.bomb-blue {
  background-color: #54a4f3;
}

.bomb-green {
  background-color: #2e7f2d;
}
